<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
	<listeners>
    	<listener class-name="report.CustomReporter" />
    	<listener class-name="report.RetryListener" />
    	<listener class-name="report.FixRetryListener" />
    	<listener class-name="report.MyListener" />
  	</listeners>
	<test name="Test">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="tests.PeopleSearchTests" />
		</classes>
	</test><!-- Test -->
	<test name="Test2">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="tests.PeopleSearchTests" />
		</classes>
	</test><!-- Test -->
	<test name="Test3">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="tests.PeopleSearchTests" />
		</classes>
	</test><!-- Test -->
	<test name="Test4">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="tests.PeopleSearchTests" />
		</classes>
	</test><!-- Test -->
</suite><!-- Suite -->
